<!doctype html>
<html>
  <head>
    <title>Upload your file</title>
  </head>
  <body>
    <h1>File Upload</h1>
    <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="url" name="url_text" placeholder="Please Enter the URL Here" size="40"></p>
      <p><input type="submit" value="Submit"></p>
      <span class="error" name='no_file_error' style="color:red">{{no_file_error}}</span>
    </form>
  </body>
</html>

<!-- <!DOCTYPE html>
<html>
<head>
  <title>  Time series Data Analyser</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
  <header>
    <div clas= "main">
      <ul>
        <li> <a href="#">Login </a> </li>
        <li> <a href="#">Help and Instructions </a> </li>
      </ul>


    </div>
    <div class="title">
      <h1> DATA ANALYSER</h1>
    </div>

    <div class= "text">
      <h3> In the order to get your data analysed, please use following options</h3>
    </div>

    <div class= "button">
      <a href ="#" class="btn"> Upload dataset </a>
      <a href ="#" class="btn"> Provide URL </a>
    </div>

  </header>

</body>

</html> -->
